
{% for projet in projets %}
    <div class="col-sm-3 mb-3">

        <div class="card card-body bg-light shadow-sm position-relative">
            <a href="{{path('single_projet', {'id': projet.id})}}" class="projet"><strong>{{projet.name}}</strong>
            </a>
            <hr>
            <p class="mb-0 mt-0">{{projet.description}}</p>
            <hr>
            <a class="position-absolute top-3 start-100 translate-middle badge rounded-pill bg-danger" href="{{path('delete_projet', {'id': projet.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer?')"><i class="fas fa-trash"></i></a>
            <div class="row">
                <div class="col-sm-6"><i class="fas fa-level-up-alt"></i> {{projet.begin | date('d M y')}}</div>
                <div class="col-sm-6">{{projet.end | date('d M y')}} <i class="fas fa-level-down-alt"></i></div>
            </div>
        </div>
    </div>
{% else %}
    <p>Vous avez aucun projet.</p>
{% endfor %}
