<ul class="list-group list-group-flush mt-0">
    {% for task in step.tasks %}
        {# <a href="{{path('single_projet', {'id': projet.id})}}" style="color: #111; text-decoration:none"> #}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6"><strong>{{task.name}}</strong></div>
                <div class="col-sm-6" align="right"><a href="{{path('delete_task', {'id': task.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer?')"><i class="fas fa-trash" style="color:red"></i></a></div>
            </div>
            <div class="row">
                <div class="col-sm-6">{{task.begin | date('d M y')}}</div>
                <div class="col-sm-6">{{task.end | date('d M y')}}</div>
            </div>
        </li>
        {# </a> #}
    {% endfor %}
</ul>
